<!DOCTYPE html>
<html>
  <head>
 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>olá <%= nomeUsuario %></h1>
    <form action="/confirmarContato" method="GET">

      <input type="text" name="nome" id="">
      <input type="email" name="email" id="">
      <button type="submi"> Enviar </button>
    </form>
  </body>
</html>


